[submodule "public/modules/Miko"]
	path = public/modules/Miko
	url = https://github.com/Dolraith/Miko.git
[submodule "public/modules/SVaGRack"]
	path = public/modules/SVaGRack
	url = https://github.com/Dolraith/SVaGRack.git
