<!DOCTYPE html>
<html>
    <head>
        <title><%= global.settings.getSiteName() %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?dependency_marker?>
    </head>
    <body class="body">
        <div id="header" class="row">
            <div class='col-lg-12 bg-secondary'>
                <div class="header card card-header panel text-center">
                    Feather Core
                </div>
            </div>
        </div>
        <div class="row">
            <div id="sideLeft" class="col-md-2 panel">
                <div class="nav nav-sidebar">
                    Side Left<br>
                    Menu 1<br>
                    Menu 2<br>
                    Menu 3<br>
                </div>                
            </div>
            <div id="body" class="col-md-10 panel">
